%% -*- mode: erlang -*-

{cover_enabled, true}.

{ct_opts, [ {logdir, "log/ct"}
          , {ct_hooks, [ cth_readable_failonly
                       , cth_readable_shell
                       ]
            }
          ]
}.

{erl_opts, [ debug_info
           , warnings_as_errors
           ]
}.

{profiles, [ { test
             , [ { deps
                 , [ { proper
                     , {git, "https://github.com/manopapad/proper.git", {branch, "master"}}
                     }
                   ]
                 }
               ]
             }
           ]
}.
