%% -*- mode: erlang -*-

{cover_enabled, true}.

{covertool_prefix_len, 2}.

{ct_opts, [ {logdir, "log/ct"}
          , {ct_hooks, [ cth_readable_failonly
                       , cth_readable_shell
                       , cth_surefire
                       ]
            }
          ]
}.

{erl_opts, [ debug_info
           , warnings_as_errors
           ]
}.

{plugins, [ { rebar_covertool
            , { git
              , "https://github.com/truqu/covertool.git"
              , {branch, "master"}
              }
            }
          ]
}.

{profiles, [ { test
             , [ { deps
                 , [ { proper
                     , {git, "https://github.com/manopapad/proper.git", {branch, "master"}}
                     }
                   ]
                 }
               ]
             }
           ]
}.
